{{#if directory}}
    <a href="#pictures/{{ file }}">{{ label }}</a>
{{else}}
    <a href="#" class="show">{{ label }}</a>
{{/if}}
<p>
    {{ file }}
    {{#unless directory}}
        <a href="#" class="play">Play</a>
    {{/unless}}
</p>