{{ item.label }}
<br>

{{#if hasSpan}}
    <span class="playerTime">{{ currentTime }}</span> / {{ totalTime }}
    <br>
{{/if}}

<a class="stop" href="#">Stop</a>
{{#if playing}}
    <a class="toggle pause" href="#">Pause</a>
{{else}}
    <a class="toggle play" href="#">Play</a>
{{/if}}
<br>

{{#if thumbnail}}
    <img src="{{ thumbnail }}">
{{/if}}