<div class="episodeContainer show clearfix">
	<div class="episode-image">
		{{#if thumbnailImage}}
        <img src="{{ thumbnailImage }}">
    	{{else}}
    	<div class="no-img"></div>
    	{{/if}}
	</div>

    <div class="episode-info">
    	<div><span class="episode-title">{{ season }}x{{ episodeNumber }} {{ label }}</span> 
    		 <span class="pull-right">
    		 	<a href="#" data-action="play" class="btn btn-success btn-block"><i class="icon-play icon-white"/> <span class="visible-desktop">Play</span></a>
    		 	<a href="#" data-action="playlist" class="btn btn-primary btn-block"><i class="icon-time icon-white"/> <span class="visible-desktop">Add to Playlist</span></a>
    		 </span>
    	</div>
    	<div><span class="info-key">Rating: </span> {{ parsedRating }}</div>
    	<div><span class="info-key">Plot: </span> {{ plot }}</div>
    </div>
</div>