<div class="tvshowContainer show clearfix">
	<div class="tvshow-image">
		{{#if thumbnail}}
        <img src="{{ thumbnail }}">
    	{{else}}
    	<div class="no-img"></div>
    	{{/if}}
	</div>

    <div class="tvshow-info">
    	<div class="tvshow-title">{{ label }}</div>
    	<div><span class="info-key">Rating: </span> {{ parsedRating }}</div>
    	<div><span class="info-key">Plot: </span> {{ plot }}</div>
    </div>
</div>