<div class="modal-header">
    <a class="close" href="#">x</a>
    <h2>{{ label }}</h2>
</div>

<div class="modal-body content-centered">
    {{#if video}}
        <video id="{{ videoid }}" class="hit-video" controls>
      		<source src="{{ src }}">
        </video>
        <!-- <video id="{{ videoid }}" class="video-js vjs-default-skin" controls preload="none">
      		<source src="{{ src }}" type='video/mp4'>
        </video> -->
    {{else}}
        <iframe src="{{ src }}" height="100%" width="100%"></iframe>
    {{/if}}
</div>