<div class="movieContainer clearfix">
	<div class="movie-image">
		{{#if thumbnail}}
        <img src="{{ thumbnail }}">
    	{{else}}
    	<div class="no-img"></div>
    	{{/if}}
	</div>

    <div class="movie-info">
    	<div class="movie-title">{{ label }}</div>
    	<div><span class="info-key">Year: </span> {{ year }}</div>
    	<div><span class="info-key">Rating: </span> {{ parsedRating }}</div>
    	<div><span class="info-key">Plot: </span> {{ plot }}</div>
    </div>
</div>