<div class="visible-desktop">
    <div class="m-header">
        <h2>{{ label }}</h2>
    </div>
    <div class="m-data">
        <div class="m-img-container">
            {{#if thumbnail}}
                <img src="{{ thumbnail }}" class="cover pull-left">
            {{else}}
                <img src="img/svg/media/defaultMovie.svg" class="cover pull-left no-img">
            {{/if}}
        </div>
        <div class="m-actions">
            <div>
                {{#if resume}}
                <a class="btn btn-success btn-block" href="#" data-action="resume"><i class="icon-play icon-white"></i>&nbsp;Resume Movie</a>
                {{/if}}
                <a class="btn btn-success btn-block" href="#" data-action="play"><i class="icon-play icon-white"></i>&nbsp;Play Movie</a>
                <a class="btn btn-primary btn-block" href="#" data-action="add-to-playlist"><i class="icon-time icon-white"></i>&nbsp;Add to Playlist</a>
            </div>
        </div>
        <div class="m-data-container">
            <div class="m-rating">
                <div class="m-rating-title">RATING</div>
                <div class="m-rating-value">{{ toFixed rating 1 }}</div>
            </div>
            <div class="m-more-actions">
                <div class="btn-group pull-right">
                {{#if trailer}}
                    <button class="btn" data-toggle="dropdown">
                        <i class="icon-film"></i>&nbsp;Trailer&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-action="play-trailer">Play</a></li>
                        <li><a href="#" data-action="watch-trailer">Watch</a></li>
                    </ul>
                {{/if}}
                    <button class="btn imdb" data-action="imdb"><img class="imdb" src="img/imdb.png"></button>
                </div>
            </div>
            
            <ul>
                <li><strong>Year:</strong> {{ year }}</li>
                <li><strong>Genre:</strong> {{ genre }}</li>
                <li><strong>Duration:</strong> {{ runtime }} minutes</li>
                <li><strong>Director:</strong> {{ director }}</li>
                <li><strong>Studio:</strong> {{ studio }}</li>
                <li><strong>Parental Rating:</strong> {{ mpaa }}</li>
                <li class="plot-container"><p class="plot"><strong>Plot:</strong> {{ plot }}</p></li>
            </ul>
        </div>
    </div>
</div>

<div class="hidden-desktop">
    <div class="m-data">
        <div class="m-data-header">
            <div class="m-title">{{ label }}</div>
            <div class="m-rating">
                <div class="m-rating-title">RATING</div>
                <div class="m-rating-value">{{ toFixed rating 1 }}</div>
            </div>
        </div>
        <div class="m-data-container">
            <ul>
                <li><strong>Genre:</strong> {{ genre }}</li>
                <li><strong>Year:</strong> {{ year }}</li>
                <li><strong>Duration:</strong> {{ runtime }} minutes</li>
                <li><strong>Director:</strong> {{ director }}</li>
                <li><strong>Studio:</strong> {{ studio }}</li>
                <li><strong>Parental Rating:</strong> {{ mpaa }}</li>
            </ul>
        </div>
        <div class="m-plot-container">
            {{#if thumbnail}}
            <img src="{{ thumbnail }}" class="cover pull-left">
            {{/if}}
            <p><strong>Plot:</strong> {{ plot }}</p>
        </div>
    </div>
</div>