<div class="modal-header">
    <a class="close" href="#">x</a>
    <h2>{{ label }}</h2>
</div>

<div class="modal-body">
    <img src="{{ thumbnail }}" class="cover pull-left">
    <ul>
        <li><strong>Year</strong>: {{ year }}</li>
        <li><strong>Genre</strong>: {{ genre }}</li>
        <li><strong>Duration</strong>: {{ runtime }} minutes</li>
        <li><strong>Director</strong>: {{ director }}</li>
        <li><strong>Studio</strong>: {{ studio }}</li>
        <li><strong>Rating</strong>: {{ toFixed rating 2 }}</li>
        <li><strong>Parental Rating</strong>: {{ mpaa }}</li>
        <li><strong>Plot</strong>: {{ plot }}</li>
    </ul>
</div>

<div class="modal-footer">
    <a class="playlist btn" href="#">Add to Playlist</a>
    <a class="play btn" href="#">Play Movie</a>

    {{#if resume}}
        <a class="resume btn">Resume ({{ resume }})</a>
    {{/if}}

    {{#if trailer}}
        <a class="trailer btn" href="#">Trailer</a>
    {{/if}}

    <a class="btn" href="http://www.imdb.com/title/{{ imdbnumber }}" target="_blank">IMDB</a>
</div>