<div class="visible-desktop">
    <div class="m-header">
        <h2>{{ label }}</h2>
    </div>
    <div class="m-data">
        <div class="m-img-container">
            {{#if thumbnail}}
                <img src="{{ thumbnail }}" class="cover pull-left">
            {{else}}
                <img src="img/svg/media/defaultMovie.svg" class="cover pull-left no-img">
            {{/if}}
        </div>
        <div class="m-data-container">
            <ul>
                <li><strong>Genre:</strong> {{ genre }}</li>
                <li class="plot-container"><p class="plot">{{ description }}</p></li>
            </ul>
        </div>
    </div>
</div>

<div class="hidden-desktop">
    <div class="m-data">
        <div class="m-data-header">
            <div class="m-title">{{ label }}</div>
        </div>
        <div class="m-data-container">
            <ul>
                <li><strong>Genre:</strong> {{ genre }}</li>
            </ul>
        </div>
        <div class="m-plot-container">
            {{#if thumbnail}}
            <img src="{{ thumbnail }}" class="cover pull-left">
            {{/if}}
            <p>{{ description }}</p>
        </div>
    </div>
</div>